<?xml version="1.0"?>
<robot name="test_robot">

    <gazebo>
        <plugin name="set_planar_move_plugin" filename="libgazebo_planar_move_plugin.so">
            <robot_namespace>/</robot_namespace>
            <robot_frame>base_link</robot_frame>
            <odometry_frame>odom</odometry_frame>
            <odometry_topic>odom</odometry_topic>
            <command_topic>cmd_vel</command_topic>
            <control_mode>velocity</control_mode>
            <publish_odometry>1</publish_odometry>
            <publish_tf>1</publish_tf>
        </plugin>
    </gazebo>

    <link name="base_link">

        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="1 1 1"/>
            </geometry>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="1 1 1"/>
            </geometry>
        </collision>
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="1"/>
            <inertia ixx="1" ixy="0" ixz="0" iyy="1" iyz="0" izz="1"/>
        </inertial>
    </link>

</robot>